<%- include('../partials/style-header'); %>

<header class="hero">
    <div class="containers">
        <section class="hero__container">
            <div class="hero__texts">
              <br>
              <br>
              <br>
                <h1 class="hero_title"><strong>DomXpress</strong></h1>
                <% if(loginUser){ %> 
                <h1 class="hero_title"> Bienvenido <strong> <%= loginUser.username %> </strong></strong></h1>
                <% } %>
                <h4 class="hero__sub"><p>"Conectando tu hogar al futuro, un clic a la vez: <br>¡DomotiqueXperience, donde la tecnología y la seguridad se encuentran!"</p></h4>
                <!-- <h4 class="hero__sub"></h4> -->
            </div>
        </section>
    </div>
    <div class="hero__wave" style="overflow: hidden">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #11b5f0"></path>
        </svg>
    </div>
</header>